.container
  .board
    %h1.board_title= @board.name
    .article_detail
      = image_tag 'Oval.png'
      %div
        %p cohki0305
        %p 2020/4/16
    .board_content
      = @board.description
    .board_heart
      = image_tag 'heart.svg'

